    	body {
    		background-color: lightgray;
    	}
    	hr { 
            width: 4%;
    		border-style:none;
    		border-top-style: dotted;
    		border-color: forestgreen;
    		border-width: 5px;
    		
    	}
        h3 {
            color: #273746;
        }
        